*{
    max-width: 100%;
}
/* Header */

/* Bar */

.header{
    background: rgba(255, 144, 14, 0.1);
}
.header-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
}
.h-bar-right{
    display: flex;
    gap: 30px;
}

/* pseudo */

.h-bar-left:hover, .hbr-1:hover, .hbr-2:hover, .hbr-3:hover, .hbr-4:hover{
    background-color: rgb(218, 217, 217);
    border-radius: 5px;
}

/* Banner */

.header-banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin: 0 100px;
}
.h-banner-title{
    margin: 0 350px;
}
.h-banner-btn{
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.h-banner-img{
    margin-bottom: 50px;
}

/* pseudo */

.h-banner-btn:hover{
    background-color: rgb(218, 217, 217);
    border-radius: 5px;
}

/* Main */

/* Quick list of Our Features */

.main-quick-list{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 50px 150px;
    width: 100%;
    position: relative;
}
.m-quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 10px;
}
.m-quick-list-title-span-1{
    color: grey;
}
.m-quick-list-title-span-2{
    color: darkorange;
}
.m-quick-list-btn{
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}

/* pseudo */

.m-quick-list-btn:hover{
    background-color: rgb(218, 217, 217);
    border-radius: 5px;
}

/* Features you will love & enjoy */

.main-love-enjoy{
    display: flex;
    gap: 100px;
    margin: 100px 100px 0;
}
.m-love-enjoy-title-h1{
    padding: 10px;
    border-left: solid darkorange;
}
.m-love-enjoy-title-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.list-1, .list-2, .list-3{
    border-radius: 5px;
    box-shadow: 0 0 5px 1px gray;
    padding: 10px;
}
.main-love-enjoy-btn{
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    height: 100px;
    width: 150px;
    position: relative;
    bottom: 110px;
    left: 790px;
}

/* pseudo */

.list-1:hover, .list-2:hover, .list-3:hover, .main-love-enjoy-btn:hover{
    background-color: rgb(218, 217, 217);
    border-radius: 5px;
}

/* Some Facts */

.main-facts{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}
.m-facts-title{
    width: 500px;
}
.m-facts-img{
    display: flex;
    justify-content: space-around;
}
.m-facts-img img{
    height: 100px;
    width: 100px;
}

/* pseudo */

.mfi-1:hover, .mfi-2:hover, .mfi-3:hover, .mfi-4:hover, .mfi-5:hover{
    background-color: rgb(218, 217, 217);
    border-radius: 5px;
}

/* Our Sponspors */

.main-sponspors{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px 100px;
}
.m-sponspors-title{
    text-align: center;
    margin: 0 300px;
}
.m-sponspors-img{
    display: flex;
    justify-content: space-between;
    filter: grayscale(100%);
    margin-bottom: 50px;

}

/* pseudo */

.msi-1:hover, .msi-2:hover, .msi-3:hover, .msi-4:hover, .msi-5:hover{
    background-color: rgb(218, 217, 217);
    border-radius: 5px;
}

/* Footer */

/* copyright */

.footer-copyright{
    background: rgba(255, 144, 14, 0.1);
    height: 70px;
    text-align: center;
    margin-bottom: 50px;
    margin: 100px 100px;
}
.footer-copyright p{
    position: relative;
    top: 25px;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

/* media query */

@media only screen and (max-width: 667px) {
    *{
        width: 100%;
    }

    /* Bar */

    .header-bar{
        flex-direction: column;
        margin: 0;
    }
    .h-bar-right{
        flex-direction: column;
        gap: 0;
        margin: 0 30px;
    }
    .h-bar-left{
        text-align: center;
    }

    /* Banner */

    .header-banner{
        margin: 0;
        gap: 10px;
    }
    .h-banner-title{
        margin: 0;
    }
    .h-banner-btn{
        height: 30px;
        width: 100px;
    }
    .h-banner-img{
        margin-bottom: 10px;
    }
    .h-banner-img img{
        width: 350px;
    }

    /* Quick list of Our Features */

    .main-quick-list{
        flex-direction: column-reverse;
        text-align: center;
        gap: 10px;
        margin: 0;
    }
    .m-quick-list-btn{
        height: 30px;
        width: 100px;
    }
    .m-quick-list-img{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        margin-bottom: 10px;
    }
    .m-quick-list-img img{
        height: 250px;
        width: 350px;
    }

    /* Features you will love & enjoy */

    .main-love-enjoy{
        flex-direction: column;
        gap: 10px;
        margin: 0;
        margin-left: 10px;
        margin-bottom:;
    }
    .m-love-enjoy-title-list{
        width: 330px;
        gap: 5px;   
    }
    .m-love-enjoy-img{
        width: 350px;
    }
    .main-love-enjoy-btn{
        height: 90px;
        width: 150px;
        bottom: 50px;
        left: 110px;
        margin-bottom: 10px;
    }

    /* Some Facts */

    .main-facts{
        margin: 0;
        margin-left: 10px;
    }
    .m-facts-img{
        flex-direction: column;
        text-align: center;
        gap: 5px;
        margin-bottom: 10px;
    }
    .m-facts-img img{
        height: 150px;
        width: 150px;
    }    

    /* Our Sponspors */

    .main-sponspors{
        gap: 10px;
        margin: 0px;
    }
    .m-sponspors-title{
        margin: 0px;
    }
    .m-sponspors-img{
        flex-direction: column;
        margin-bottom: 10px;
        width: 200px;
        padding-left: 85px;
    }
    
    /* Not Working */
    
    /* .m-sponspors-img img{
        text-align: center;
    } */

    /* copyright */

    .footer-copyright{
        height: 100px;
        margin-bottom: 10px;
        margin: 0;
    }

}